footer {
    background-color: var(--wp--preset--color--gray);
    color: var(--wp--preset--color--contrast);
    z-index: 999;
}

.footer__main {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    ul:not(.has-bubble) {
        list-style-type: none;
        padding: 0;
    }

    a:not(.has-policy) {
        color: var(--wp--preset--color--contrast);
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        font-weight: initial;
    }
}

.has-bubble {
    position: relative;
    z-index: 1;
    padding: 1rem;
    list-style-type: none;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: var(--wp--preset--color--offwhite);
        clip-path: polygon(
            0% 0%,
            100% 0%,
            100% 75%,
            75% 75%,
            75% 100%,
            50% 75%,
            0% 75%
        );
        z-index: -1;
    }

    li:last-of-type {
        margin-bottom: 1rem;
        padding-bottom: 1rem
    }
}

@media (max-width: 768px){
    .footer__main {
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
    }
}