footer {
    background-color: var(--wp--preset--color--gray);
    color: var(--wp--preset--color--contrast);
    border-top: 1px solid var(--wp--preset--color--contrast);
    z-index: 999;
}

.footer__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul:not(.has-bubble) {
        list-style-type: none;
        padding: 0;
        border-bottom: 2px solid #A19DA3;
    }

    a:not(.has-policy) {
        color: var(--wp--preset--color--contrast);
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        font-weight: initial;
    }
}

.has-bubble {
    position: relative;
    z-index: 1;
    display: inline-flex;
    flex-direction: column;
    width: fit-content;
    padding: 1rem 1.5rem;
    list-style: none;
    background-color: var(--wp--preset--color--offwhite);
    border-radius: 1rem;
}

.has-bubble::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -0.6rem;
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--wp--preset--color--offwhite);
    transform: translateX(-50%) rotate(45deg);
    border-radius: 0 0 0.25rem 0;
    z-index: -1;
}

@media (max-width: 768px){
    .footer__main {
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;

        ul:not(.has-bubble) {
            list-style-type: none;
            padding: 0;
            border-bottom: none;
            margin: 0;
        }
    }
}