@import "../../node_modules/@splidejs/splide/dist/css/splide.min.css";

.product-galleryblock {
    position: relative;
}

.product-galleryblock__titile {
    text-align: center;
}

.product-galleryblock__slide img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    display: block;
}

.product-galleryblock__preview {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.product-galleryblock__preview img {
    width: 120px;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}